In [1]:
#importing all packages we need for EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
#getting the data 
churn_df=pd.read_csv("Data/train (1).csv")

In [3]:
churn_df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [4]:
churn_df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999.000000,69999.000000,69999.000000,67231.000000,67312.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,283.134365,278.185912,278.858826,133.153275,133.894438,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,334.213918,344.366927,351.924315,299.963093,311.277193,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,-2258.709000,-1289.715000,-945.808000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,93.581000,86.714000,84.095000,7.410000,6.675000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,197.484000,191.588000,192.234000,34.110000,32.280000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,370.791000,365.369500,369.909000,119.390000,115.837500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [5]:
churn_df.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    id                        69999 non-null  int64
 1    circle_id                 69999 non-null  int64
 2    loc_og_t2o_mou            69297 non-null  float64
 3    std_og_t2o_mou            69297 non-null  float64
 4    loc_ic_t2o_mou            69297 non-null  float64
 5    last_date_of_month_6      69999 non-null  object
 6    last_date_of_month_7      69600 non-null  object
 7    last_date_of_month_8      69266 non-null  object
 8    arpu_6                    69999 non-null  float64
 9    arpu_7                    69999 non-null  float64
 10   arpu_8                    69999 non-null  float64
 11   onnet_mou_6               67231 non-null  float64
 12   onnet_mou_7               67312 non-null  float64
 13   onnet_mou_8               66296 non-null  float64
 14   offnet_mou_6              67231 non-null  float64
 15   offnet_mou_7              67312 non-null  float64
 16   offnet_mou_8              66296 non-null  float64
 17   roam_ic_mou_6             67231 non-null  float64
 18   roam_ic_mou_7             67312 non-null  float64
 19   roam_ic_mou_8             66296 non-null  float64
 20   roam_og_mou_6             67231 non-null  float64
 21   roam_og_mou_7             67312 non-null  float64
 22   roam_og_mou_8             66296 non-null  float64
 23   loc_og_t2t_mou_6          67231 non-null  float64
 24   loc_og_t2t_mou_7          67312 non-null  float64
 25   loc_og_t2t_mou_8          66296 non-null  float64
 26   loc_og_t2m_mou_6          67231 non-null  float64
 27   loc_og_t2m_mou_7          67312 non-null  float64
 28   loc_og_t2m_mou_8          66296 non-null  float64
 29   loc_og_t2f_mou_6          67231 non-null  float64
 30   loc_og_t2f_mou_7          67312 non-null  float64
 31   loc_og_t2f_mou_8          66296 non-null  float64
 32   loc_og_t2c_mou_6          67231 non-null  float64
 33   loc_og_t2c_mou_7          67312 non-null  float64
 34   loc_og_t2c_mou_8          66296 non-null  float64
 35   loc_og_mou_6              67231 non-null  float64
 36   loc_og_mou_7              67312 non-null  float64
 37   loc_og_mou_8              66296 non-null  float64
 38   std_og_t2t_mou_6          67231 non-null  float64
 39   std_og_t2t_mou_7          67312 non-null  float64
 40   std_og_t2t_mou_8          66296 non-null  float64
 41   std_og_t2m_mou_6          67231 non-null  float64
 42   std_og_t2m_mou_7          67312 non-null  float64
 43   std_og_t2m_mou_8          66296 non-null  float64
 44   std_og_t2f_mou_6          67231 non-null  float64
 45   std_og_t2f_mou_7          67312 non-null  float64
 46   std_og_t2f_mou_8          66296 non-null  float64
 47   std_og_t2c_mou_6          67231 non-null  float64
 48   std_og_t2c_mou_7          67312 non-null  float64
 49   std_og_t2c_mou_8          66296 non-null  float64
 50   std_og_mou_6              67231 non-null  float64
 51   std_og_mou_7              67312 non-null  float64
 52   std_og_mou_8              66296 non-null  float64
 53   isd_og_mou_6              67231 non-null  float64
 54   isd_og_mou_7              67312 non-null  float64
 55   isd_og_mou_8              66296 non-null  float64
 56   spl_og_mou_6              67231 non-null  float64
 57   spl_og_mou_7              67312 non-null  float64
 58   spl_og_mou_8              66296 non-null  float64
 59   og_others_6               67231 non-null  float64
 60   og_others_7               67312 non-null  float64
 61   og_others_8               66296 non-null  float64
 62   total_og_mou_6            69999 non-null  float64
 63   total_og_mou_7            69999 non-null  float64
 64   total_og_mou_8            69999 non-null  float64
 65   loc_ic_t2t_mou_6          67231 non-null  float64
 66   loc_ic_t2t_mou_7          67312 non-null  float64
 67   loc_ic_t2t_mou_8          66296 non-null  float64
 68   loc_ic_t2m_mou_6          67231 non-null  float64
 69   loc_ic_t2m_mou_7          67312 non-null  float64
 70   loc_ic_t2m_mou_8          66296 non-null  float64
 71   loc_ic_t2f_mou_6          67231 non-null  float64
 72   loc_ic_t2f_mou_7          67312 non-null  float64
 73   loc_ic_t2f_mou_8          66296 non-null  float64
 74   loc_ic_mou_6              67231 non-null  float64
 75   loc_ic_mou_7              67312 non-null  float64
 76   loc_ic_mou_8              66296 non-null  float64
 77   std_ic_t2t_mou_6          67231 non-null  float64
 78   std_ic_t2t_mou_7          67312 non-null  float64
 79   std_ic_t2t_mou_8          66296 non-null  float64
 80   std_ic_t2m_mou_6          67231 non-null  float64
 81   std_ic_t2m_mou_7          67312 non-null  float64
 82   std_ic_t2m_mou_8          66296 non-null  float64
 83   std_ic_t2f_mou_6          67231 non-null  float64
 84   std_ic_t2f_mou_7          67312 non-null  float64
 85   std_ic_t2f_mou_8          66296 non-null  float64
 86   std_ic_t2o_mou_6          67231 non-null  float64
 87   std_ic_t2o_mou_7          67312 non-null  float64
 88   std_ic_t2o_mou_8          66296 non-null  float64
 89   std_ic_mou_6              67231 non-null  float64
 90   std_ic_mou_7              67312 non-null  float64
 91   std_ic_mou_8              66296 non-null  float64
 92   total_ic_mou_6            69999 non-null  float64
 93   total_ic_mou_7            69999 non-null  float64
 94   total_ic_mou_8            69999 non-null  float64
 95   spl_ic_mou_6              67231 non-null  float64
 96   spl_ic_mou_7              67312 non-null  float64
 97   spl_ic_mou_8              66296 non-null  float64
 98   isd_ic_mou_6              67231 non-null  float64
 99   isd_ic_mou_7              67312 non-null  float64
 100  isd_ic_mou_8              66296 non-null  float64
 101  ic_others_6               67231 non-null  float64
 102  ic_others_7               67312 non-null  float64
 103  ic_others_8               66296 non-null  float64
 104  total_rech_num_6          69999 non-null  int64
 105  total_rech_num_7          69999 non-null  int64
 106  total_rech_num_8          69999 non-null  int64
 107  total_rech_amt_6          69999 non-null  int64
 108  total_rech_amt_7          69999 non-null  int64
 109  total_rech_amt_8          69999 non-null  int64
 110  max_rech_amt_6            69999 non-null  int64
 111  max_rech_amt_7            69999 non-null  int64
 112  max_rech_amt_8            69999 non-null  int64
 113  date_of_last_rech_6       68898 non-null  object
 114  date_of_last_rech_7       68765 non-null  object
 115  date_of_last_rech_8       67538 non-null  object
 116  last_day_rch_amt_6        69999 non-null  int64
 117  last_day_rch_amt_7        69999 non-null  int64
 118  last_day_rch_amt_8        69999 non-null  int64
 119  date_of_last_rech_data_6  17568 non-null  object
 120  date_of_last_rech_data_7  17865 non-null  object
 121  date_of_last_rech_data_8  18417 non-null  object
 122  total_rech_data_6         17568 non-null  float64
 123  total_rech_data_7         17865 non-null  float64
 124  total_rech_data_8         18417 non-null  float64
 125  max_rech_data_6           17568 non-null  float64
 126  max_rech_data_7           17865 non-null  float64
 127  max_rech_data_8           18417 non-null  float64
 128  count_rech_2g_6           17568 non-null  float64
 129  count_rech_2g_7           17865 non-null  float64
 130  count_rech_2g_8           18417 non-null  float64
 131  count_rech_3g_6           17568 non-null  float64
 132  count_rech_3g_7           17865 non-null  float64
 133  count_rech_3g_8           18417 non-null  float64
 134  av_rech_amt_data_6        17568 non-null  float64
 135  av_rech_amt_data_7        17865 non-null  float64
 136  av_rech_amt_data_8        18417 non-null  float64
 137  vol_2g_mb_6               69999 non-null  float64
 138  vol_2g_mb_7               69999 non-null  float64
 139  vol_2g_mb_8               69999 non-null  float64
 140  vol_3g_mb_6               69999 non-null  float64
 141  vol_3g_mb_7               69999 non-null  float64
 142  vol_3g_mb_8               69999 non-null  float64
 143  arpu_3g_6                 17568 non-null  float64
 144  arpu_3g_7                 17865 non-null  float64
 145  arpu_3g_8                 18417 non-null  float64
 146  arpu_2g_6                 17568 non-null  float64
 147  arpu_2g_7                 17865 non-null  float64
 148  arpu_2g_8                 18417 non-null  float64
 149  night_pck_user_6          17568 non-null  float64
 150  night_pck_user_7          17865 non-null  float64
 151  night_pck_user_8          18417 non-null  float64
 152  monthly_2g_6              69999 non-null  int64
 153  monthly_2g_7              69999 non-null  int64
 154  monthly_2g_8              69999 non-null  int64
 155  sachet_2g_6               69999 non-null  int64
 156  sachet_2g_7               69999 non-null  int64
 157  sachet_2g_8               69999 non-null  int64
 158  monthly_3g_6              69999 non-null  int64
 159  monthly_3g_7              69999 non-null  int64
 160  monthly_3g_8              69999 non-null  int64
 161  sachet_3g_6               69999 non-null  int64
 162  sachet_3g_7               69999 non-null  int64
 163  sachet_3g_8               69999 non-null  int64
 164  fb_user_6                 17568 non-null  float64
 165  fb_user_7                 17865 non-null  float64
 166  fb_user_8                 18417 non-null  float64
 167  aon                       69999 non-null  int64
 168  aug_vbc_3g                69999 non-null  float64
 169  jul_vbc_3g                69999 non-null  float64
 170  jun_vbc_3g                69999 non-null  float64
 171  churn_probability         69999 non-null  int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

In [6]:
churn_df.last_date_of_month_6

0        6/30/2014
1        6/30/2014
2        6/30/2014
3        6/30/2014
4        6/30/2014
           ...
69994    6/30/2014
69995    6/30/2014
69996    6/30/2014
69997    6/30/2014
69998    6/30/2014
Name: last_date_of_month_6, Length: 69999, dtype: object

In [7]:
percent_missing = churn_df.isnull().sum() * 100 / len(churn_df)
missing_value_df = pd.DataFrame({'column_name': churn_df.columns,
                                 'percent_missing': percent_missing})

In [8]:
missing_value_df.sort_values('percent_missing', inplace=True, ascending= False)

In [9]:
pd.set_option('display.max_rows', 200)
missing_value_df

                                       column_name  percent_missing
arpu_3g_6                                arpu_3g_6        74.902499
count_rech_2g_6                    count_rech_2g_6        74.902499
night_pck_user_6                  night_pck_user_6        74.902499
arpu_2g_6                                arpu_2g_6        74.902499
date_of_last_rech_data_6  date_of_last_rech_data_6        74.902499
total_rech_data_6                total_rech_data_6        74.902499
av_rech_amt_data_6              av_rech_amt_data_6        74.902499
max_rech_data_6                    max_rech_data_6        74.902499
count_rech_3g_6                    count_rech_3g_6        74.902499
fb_user_6                                fb_user_6        74.902499
night_pck_user_7                  night_pck_user_7        74.478207
date_of_last_rech_data_7  date_of_last_rech_data_7        74.478207
total_rech_data_7                total_rech_data_7        74.478207
max_rech_data_7                    max_rech_data_7        74.478207
fb_user_7                                fb_user_7        74.478207
count_rech_2g_7                    count_rech_2g_7        74.478207
count_rech_3g_7                    count_rech_3g_7        74.478207
arpu_3g_7                                arpu_3g_7        74.478207
av_rech_amt_data_7              av_rech_amt_data_7        74.478207
arpu_2g_7                                arpu_2g_7        74.478207
count_rech_2g_8                    count_rech_2g_8        73.689624
av_rech_amt_data_8              av_rech_amt_data_8        73.689624
night_pck_user_8                  night_pck_user_8        73.689624
max_rech_data_8                    max_rech_data_8        73.689624
total_rech_data_8                total_rech_data_8        73.689624
arpu_2g_8                                arpu_2g_8        73.689624
arpu_3g_8                                arpu_3g_8        73.689624
date_of_last_rech_data_8  date_of_last_rech_data_8        73.689624
fb_user_8                                fb_user_8        73.689624
count_rech_3g_8                    count_rech_3g_8        73.689624
isd_og_mou_8                          isd_og_mou_8         5.290076
std_ic_t2o_mou_8                  std_ic_t2o_mou_8         5.290076
std_og_t2c_mou_8                  std_og_t2c_mou_8         5.290076
std_ic_t2f_mou_8                  std_ic_t2f_mou_8         5.290076
std_og_mou_8                          std_og_mou_8         5.290076
std_ic_t2m_mou_8                  std_ic_t2m_mou_8         5.290076
std_ic_mou_8                          std_ic_mou_8         5.290076
std_ic_t2t_mou_8                  std_ic_t2t_mou_8         5.290076
og_others_8                            og_others_8         5.290076
spl_og_mou_8                          spl_og_mou_8         5.290076
loc_ic_t2m_mou_8                  loc_ic_t2m_mou_8         5.290076
loc_ic_mou_8                          loc_ic_mou_8         5.290076
loc_ic_t2f_mou_8                  loc_ic_t2f_mou_8         5.290076
std_og_t2f_mou_8                  std_og_t2f_mou_8         5.290076
loc_og_t2c_mou_8                  loc_og_t2c_mou_8         5.290076
ic_others_8                            ic_others_8         5.290076
loc_og_mou_8                          loc_og_mou_8         5.290076
onnet_mou_8                            onnet_mou_8         5.290076
offnet_mou_8                          offnet_mou_8         5.290076
roam_ic_mou_8                        roam_ic_mou_8         5.290076
roam_og_mou_8                        roam_og_mou_8         5.290076
loc_og_t2t_mou_8                  loc_og_t2t_mou_8         5.290076
loc_og_t2m_mou_8                  loc_og_t2m_mou_8         5.290076
loc_og_t2f_mou_8                  loc_og_t2f_mou_8         5.290076
std_og_t2m_mou_8                  std_og_t2m_mou_8         5.290076
loc_ic_t2t_mou_8                  loc_ic_t2t_mou_8         5.290076
isd_ic_mou_8                          isd_ic_mou_8         5.290076
std_og_t2t_mou_8                  std_og_t2t_mou_8         5.290076
spl_ic_mou_8                          spl_ic_mou_8         5.290076
std_ic_t2m_mou_6                  std_ic_t2m_mou_6         3.954342
std_ic_t2t_mou_6                  std_ic_t2t_mou_6         3.954342
loc_ic_t2m_mou_6                  loc_ic_t2m_mou_6         3.954342
ic_others_6                            ic_others_6         3.954342
loc_ic_mou_6                          loc_ic_mou_6         3.954342
std_ic_t2f_mou_6                  std_ic_t2f_mou_6         3.954342
isd_ic_mou_6                          isd_ic_mou_6         3.954342
std_ic_mou_6                          std_ic_mou_6         3.954342
spl_ic_mou_6                          spl_ic_mou_6         3.954342
std_ic_t2o_mou_6                  std_ic_t2o_mou_6         3.954342
loc_ic_t2f_mou_6                  loc_ic_t2f_mou_6         3.954342
isd_og_mou_6                          isd_og_mou_6         3.954342
std_og_t2m_mou_6                  std_og_t2m_mou_6         3.954342
std_og_t2f_mou_6                  std_og_t2f_mou_6         3.954342
loc_og_mou_6                          loc_og_mou_6         3.954342
loc_og_t2c_mou_6                  loc_og_t2c_mou_6         3.954342
std_og_t2c_mou_6                  std_og_t2c_mou_6         3.954342
loc_og_t2f_mou_6                  loc_og_t2f_mou_6         3.954342
loc_og_t2m_mou_6                  loc_og_t2m_mou_6         3.954342
std_og_mou_6                          std_og_mou_6         3.954342
loc_og_t2t_mou_6                  loc_og_t2t_mou_6         3.954342
std_og_t2t_mou_6                  std_og_t2t_mou_6         3.954342
loc_ic_t2t_mou_6                  loc_ic_t2t_mou_6         3.954342
spl_og_mou_6                          spl_og_mou_6         3.954342
onnet_mou_6                            onnet_mou_6         3.954342
roam_ic_mou_6                        roam_ic_mou_6         3.954342
og_others_6                            og_others_6         3.954342
roam_og_mou_6                        roam_og_mou_6         3.954342
offnet_mou_6                          offnet_mou_6         3.954342
roam_og_mou_7                        roam_og_mou_7         3.838626
ic_others_7                            ic_others_7         3.838626
loc_og_mou_7                          loc_og_mou_7         3.838626
onnet_mou_7                            onnet_mou_7         3.838626
loc_ic_t2t_mou_7                  loc_ic_t2t_mou_7         3.838626
loc_og_t2f_mou_7                  loc_og_t2f_mou_7         3.838626
loc_og_t2c_mou_7                  loc_og_t2c_mou_7         3.838626
offnet_mou_7                          offnet_mou_7         3.838626
loc_og_t2m_mou_7                  loc_og_t2m_mou_7         3.838626
roam_ic_mou_7                        roam_ic_mou_7         3.838626
std_og_t2t_mou_7                  std_og_t2t_mou_7         3.838626
loc_og_t2t_mou_7                  loc_og_t2t_mou_7         3.838626
loc_ic_t2m_mou_7                  loc_ic_t2m_mou_7         3.838626
isd_ic_mou_7                          isd_ic_mou_7         3.838626
loc_ic_t2f_mou_7                  loc_ic_t2f_mou_7         3.838626
loc_ic_mou_7                          loc_ic_mou_7         3.838626
spl_og_mou_7                          spl_og_mou_7         3.838626
std_ic_t2t_mou_7                  std_ic_t2t_mou_7         3.838626
isd_og_mou_7                          isd_og_mou_7         3.838626
std_ic_t2m_mou_7                  std_ic_t2m_mou_7         3.838626
std_og_mou_7                          std_og_mou_7         3.838626
std_ic_t2f_mou_7                  std_ic_t2f_mou_7         3.838626
std_og_t2m_mou_7                  std_og_t2m_mou_7         3.838626
std_ic_t2o_mou_7                  std_ic_t2o_mou_7         3.838626
std_og_t2c_mou_7                  std_og_t2c_mou_7         3.838626
std_ic_mou_7                          std_ic_mou_7         3.838626
std_og_t2f_mou_7                  std_og_t2f_mou_7         3.838626
og_others_7                            og_others_7         3.838626
spl_ic_mou_7                          spl_ic_mou_7         3.838626
date_of_last_rech_8            date_of_last_rech_8         3.515765
date_of_last_rech_7            date_of_last_rech_7         1.762882
date_of_last_rech_6            date_of_last_rech_6         1.572880
last_date_of_month_8          last_date_of_month_8         1.047158
loc_ic_t2o_mou                      loc_ic_t2o_mou         1.002871
std_og_t2o_mou                      std_og_t2o_mou         1.002871
loc_og_t2o_mou                      loc_og_t2o_mou         1.002871
last_date_of_month_7          last_date_of_month_7         0.570008
vol_3g_mb_8                            vol_3g_mb_8         0.000000
aon                                            aon         0.000000
aug_vbc_3g                              aug_vbc_3g         0.000000
jul_vbc_3g                              jul_vbc_3g         0.000000
jun_vbc_3g                              jun_vbc_3g         0.000000
sachet_3g_8                            sachet_3g_8         0.000000
sachet_3g_7                            sachet_3g_7         0.000000
sachet_3g_6                            sachet_3g_6         0.000000
monthly_2g_6                          monthly_2g_6         0.000000
monthly_2g_7                          monthly_2g_7         0.000000
monthly_2g_8                          monthly_2g_8         0.000000
sachet_2g_6                            sachet_2g_6         0.000000
sachet_2g_7                            sachet_2g_7         0.000000
sachet_2g_8                            sachet_2g_8         0.000000
monthly_3g_8                          monthly_3g_8         0.000000
monthly_3g_7                          monthly_3g_7         0.000000
monthly_3g_6                          monthly_3g_6         0.000000
id                                              id         0.000000
vol_3g_mb_7                            vol_3g_mb_7         0.000000
total_rech_num_7                  total_rech_num_7         0.000000
last_date_of_month_6          last_date_of_month_6         0.000000
arpu_6                                      arpu_6         0.000000
arpu_7                                      arpu_7         0.000000
arpu_8                                      arpu_8         0.000000
total_og_mou_6                      total_og_mou_6         0.000000
total_og_mou_7                      total_og_mou_7         0.000000
total_og_mou_8                      total_og_mou_8         0.000000
circle_id                                circle_id         0.000000
total_ic_mou_6                      total_ic_mou_6         0.000000
total_ic_mou_7                      total_ic_mou_7         0.000000
total_ic_mou_8                      total_ic_mou_8         0.000000
total_rech_num_6                  total_rech_num_6         0.000000
total_rech_num_8                  total_rech_num_8         0.000000
vol_3g_mb_6                            vol_3g_mb_6         0.000000
total_rech_amt_6                  total_rech_amt_6         0.000000
total_rech_amt_7                  total_rech_amt_7         0.000000
total_rech_amt_8                  total_rech_amt_8         0.000000
max_rech_amt_6                      max_rech_amt_6         0.000000
max_rech_amt_7                      max_rech_amt_7         0.000000
max_rech_amt_8                      max_rech_amt_8         0.000000
last_day_rch_amt_6              last_day_rch_amt_6         0.000000
last_day_rch_amt_7              last_day_rch_amt_7         0.000000
last_day_rch_amt_8              last_day_rch_amt_8         0.000000
vol_2g_mb_6                            vol_2g_mb_6         0.000000
vol_2g_mb_7                            vol_2g_mb_7         0.000000
vol_2g_mb_8                            vol_2g_mb_8         0.000000
churn_probability                churn_probability         0.000000

In [10]:
def FixDate(arr):
    fx='%m/%d/%Y'
    out=pd.to_datetime(arr,format=fx)
    return out

In [11]:
#Since all the data is numeric except for the date we can grab all the date columns at once to fix them
DateList=list(churn_df.select_dtypes(['object']).columns)

In [12]:
DateList

['last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8']

In [13]:
for x in DateList:
    churn_df[x]=FixDate(churn_df[x])
churn_df.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    id                        69999 non-null  int64
 1    circle_id                 69999 non-null  int64
 2    loc_og_t2o_mou            69297 non-null  float64
 3    std_og_t2o_mou            69297 non-null  float64
 4    loc_ic_t2o_mou            69297 non-null  float64
 5    last_date_of_month_6      69999 non-null  datetime64[ns]
 6    last_date_of_month_7      69600 non-null  datetime64[ns]
 7    last_date_of_month_8      69266 non-null  datetime64[ns]
 8    arpu_6                    69999 non-null  float64
 9    arpu_7                    69999 non-null  float64
 10   arpu_8                    69999 non-null  float64
 11   onnet_mou_6               67231 non-null  float64
 12   onnet_mou_7               67312 non-null  float64
 13   onnet_mou_8               66296 non-null  float64
 14   offnet_mou_6              67231 non-null  float64
 15   offnet_mou_7              67312 non-null  float64
 16   offnet_mou_8              66296 non-null  float64
 17   roam_ic_mou_6             67231 non-null  float64
 18   roam_ic_mou_7             67312 non-null  float64
 19   roam_ic_mou_8             66296 non-null  float64
 20   roam_og_mou_6             67231 non-null  float64
 21   roam_og_mou_7             67312 non-null  float64
 22   roam_og_mou_8             66296 non-null  float64
 23   loc_og_t2t_mou_6          67231 non-null  float64
 24   loc_og_t2t_mou_7          67312 non-null  float64
 25   loc_og_t2t_mou_8          66296 non-null  float64
 26   loc_og_t2m_mou_6          67231 non-null  float64
 27   loc_og_t2m_mou_7          67312 non-null  float64
 28   loc_og_t2m_mou_8          66296 non-null  float64
 29   loc_og_t2f_mou_6          67231 non-null  float64
 30   loc_og_t2f_mou_7          67312 non-null  float64
 31   loc_og_t2f_mou_8          66296 non-null  float64
 32   loc_og_t2c_mou_6          67231 non-null  float64
 33   loc_og_t2c_mou_7          67312 non-null  float64
 34   loc_og_t2c_mou_8          66296 non-null  float64
 35   loc_og_mou_6              67231 non-null  float64
 36   loc_og_mou_7              67312 non-null  float64
 37   loc_og_mou_8              66296 non-null  float64
 38   std_og_t2t_mou_6          67231 non-null  float64
 39   std_og_t2t_mou_7          67312 non-null  float64
 40   std_og_t2t_mou_8          66296 non-null  float64
 41   std_og_t2m_mou_6          67231 non-null  float64
 42   std_og_t2m_mou_7          67312 non-null  float64
 43   std_og_t2m_mou_8          66296 non-null  float64
 44   std_og_t2f_mou_6          67231 non-null  float64
 45   std_og_t2f_mou_7          67312 non-null  float64
 46   std_og_t2f_mou_8          66296 non-null  float64
 47   std_og_t2c_mou_6          67231 non-null  float64
 48   std_og_t2c_mou_7          67312 non-null  float64
 49   std_og_t2c_mou_8          66296 non-null  float64
 50   std_og_mou_6              67231 non-null  float64
 51   std_og_mou_7              67312 non-null  float64
 52   std_og_mou_8              66296 non-null  float64
 53   isd_og_mou_6              67231 non-null  float64
 54   isd_og_mou_7              67312 non-null  float64
 55   isd_og_mou_8              66296 non-null  float64
 56   spl_og_mou_6              67231 non-null  float64
 57   spl_og_mou_7              67312 non-null  float64
 58   spl_og_mou_8              66296 non-null  float64
 59   og_others_6               67231 non-null  float64
 60   og_others_7               67312 non-null  float64
 61   og_others_8               66296 non-null  float64
 62   total_og_mou_6            69999 non-null  float64
 63   total_og_mou_7            69999 non-null  float64
 64   total_og_mou_8            69999 non-null  float64
 65   loc_ic_t2t_mou_6          67231 non-null  float64
 66   loc_ic_t2t_mou_7          67312 non-null  float64
 67   loc_ic_t2t_mou_8          66296 non-null  float64
 68   loc_ic_t2m_mou_6          67231 non-null  float64
 69   loc_ic_t2m_mou_7          67312 non-null  float64
 70   loc_ic_t2m_mou_8          66296 non-null  float64
 71   loc_ic_t2f_mou_6          67231 non-null  float64
 72   loc_ic_t2f_mou_7          67312 non-null  float64
 73   loc_ic_t2f_mou_8          66296 non-null  float64
 74   loc_ic_mou_6              67231 non-null  float64
 75   loc_ic_mou_7              67312 non-null  float64
 76   loc_ic_mou_8              66296 non-null  float64
 77   std_ic_t2t_mou_6          67231 non-null  float64
 78   std_ic_t2t_mou_7          67312 non-null  float64
 79   std_ic_t2t_mou_8          66296 non-null  float64
 80   std_ic_t2m_mou_6          67231 non-null  float64
 81   std_ic_t2m_mou_7          67312 non-null  float64
 82   std_ic_t2m_mou_8          66296 non-null  float64
 83   std_ic_t2f_mou_6          67231 non-null  float64
 84   std_ic_t2f_mou_7          67312 non-null  float64
 85   std_ic_t2f_mou_8          66296 non-null  float64
 86   std_ic_t2o_mou_6          67231 non-null  float64
 87   std_ic_t2o_mou_7          67312 non-null  float64
 88   std_ic_t2o_mou_8          66296 non-null  float64
 89   std_ic_mou_6              67231 non-null  float64
 90   std_ic_mou_7              67312 non-null  float64
 91   std_ic_mou_8              66296 non-null  float64
 92   total_ic_mou_6            69999 non-null  float64
 93   total_ic_mou_7            69999 non-null  float64
 94   total_ic_mou_8            69999 non-null  float64
 95   spl_ic_mou_6              67231 non-null  float64
 96   spl_ic_mou_7              67312 non-null  float64
 97   spl_ic_mou_8              66296 non-null  float64
 98   isd_ic_mou_6              67231 non-null  float64
 99   isd_ic_mou_7              67312 non-null  float64
 100  isd_ic_mou_8              66296 non-null  float64
 101  ic_others_6               67231 non-null  float64
 102  ic_others_7               67312 non-null  float64
 103  ic_others_8               66296 non-null  float64
 104  total_rech_num_6          69999 non-null  int64
 105  total_rech_num_7          69999 non-null  int64
 106  total_rech_num_8          69999 non-null  int64
 107  total_rech_amt_6          69999 non-null  int64
 108  total_rech_amt_7          69999 non-null  int64
 109  total_rech_amt_8          69999 non-null  int64
 110  max_rech_amt_6            69999 non-null  int64
 111  max_rech_amt_7            69999 non-null  int64
 112  max_rech_amt_8            69999 non-null  int64
 113  date_of_last_rech_6       68898 non-null  datetime64[ns]
 114  date_of_last_rech_7       68765 non-null  datetime64[ns]
 115  date_of_last_rech_8       67538 non-null  datetime64[ns]
 116  last_day_rch_amt_6        69999 non-null  int64
 117  last_day_rch_amt_7        69999 non-null  int64
 118  last_day_rch_amt_8        69999 non-null  int64
 119  date_of_last_rech_data_6  17568 non-null  datetime64[ns]
 120  date_of_last_rech_data_7  17865 non-null  datetime64[ns]
 121  date_of_last_rech_data_8  18417 non-null  datetime64[ns]
 122  total_rech_data_6         17568 non-null  float64
 123  total_rech_data_7         17865 non-null  float64
 124  total_rech_data_8         18417 non-null  float64
 125  max_rech_data_6           17568 non-null  float64
 126  max_rech_data_7           17865 non-null  float64
 127  max_rech_data_8           18417 non-null  float64
 128  count_rech_2g_6           17568 non-null  float64
 129  count_rech_2g_7           17865 non-null  float64
 130  count_rech_2g_8           18417 non-null  float64
 131  count_rech_3g_6           17568 non-null  float64
 132  count_rech_3g_7           17865 non-null  float64
 133  count_rech_3g_8           18417 non-null  float64
 134  av_rech_amt_data_6        17568 non-null  float64
 135  av_rech_amt_data_7        17865 non-null  float64
 136  av_rech_amt_data_8        18417 non-null  float64
 137  vol_2g_mb_6               69999 non-null  float64
 138  vol_2g_mb_7               69999 non-null  float64
 139  vol_2g_mb_8               69999 non-null  float64
 140  vol_3g_mb_6               69999 non-null  float64
 141  vol_3g_mb_7               69999 non-null  float64
 142  vol_3g_mb_8               69999 non-null  float64
 143  arpu_3g_6                 17568 non-null  float64
 144  arpu_3g_7                 17865 non-null  float64
 145  arpu_3g_8                 18417 non-null  float64
 146  arpu_2g_6                 17568 non-null  float64
 147  arpu_2g_7                 17865 non-null  float64
 148  arpu_2g_8                 18417 non-null  float64
 149  night_pck_user_6          17568 non-null  float64
 150  night_pck_user_7          17865 non-null  float64
 151  night_pck_user_8          18417 non-null  float64
 152  monthly_2g_6              69999 non-null  int64
 153  monthly_2g_7              69999 non-null  int64
 154  monthly_2g_8              69999 non-null  int64
 155  sachet_2g_6               69999 non-null  int64
 156  sachet_2g_7               69999 non-null  int64
 157  sachet_2g_8               69999 non-null  int64
 158  monthly_3g_6              69999 non-null  int64
 159  monthly_3g_7              69999 non-null  int64
 160  monthly_3g_8              69999 non-null  int64
 161  sachet_3g_6               69999 non-null  int64
 162  sachet_3g_7               69999 non-null  int64
 163  sachet_3g_8               69999 non-null  int64
 164  fb_user_6                 17568 non-null  float64
 165  fb_user_7                 17865 non-null  float64
 166  fb_user_8                 18417 non-null  float64
 167  aon                       69999 non-null  int64
 168  aug_vbc_3g                69999 non-null  float64
 169  jul_vbc_3g                69999 non-null  float64
 170  jun_vbc_3g                69999 non-null  float64
 171  churn_probability         69999 non-null  int64
dtypes: datetime64[ns](9), float64(135), int64(28)
memory usage: 91.9 MB

### All Data types Fixed.

In [15]:
amt_recharge_col =  churn_df.columns[churn_df.columns.str.contains('rech_amt|rech_data')]
churn_df.loc[:,amt_recharge_col].describe()

,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,total_rech_data_6,total_rech_data_7,total_rech_data_8,max_rech_data_6,max_rech_data_7,max_rech_data_8,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8
count,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,17568.000000,17865.000000,18417.000000,17568.000000,17865.000000,18417.000000
mean,328.139788,322.376363,323.846355,104.569265,104.137573,107.540351,2.467612,2.679989,2.652441,126.500000,126.402071,125.374925,192.831096,201.455940,196.815792
std,404.211068,411.070120,426.181405,121.407701,120.782543,124.396750,2.794610,3.073472,3.101265,109.352573,109.459266,109.648799,190.623115,198.346141,192.280532
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,110.000000,100.000000,90.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,25.000000,25.000000,25.000000,82.000000,92.000000,84.000000
50%,229.000000,220.000000,225.000000,110.000000,110.000000,98.000000,1.000000,2.000000,1.000000,145.000000,145.000000,145.000000,154.000000,154.000000,154.000000
75%,438.000000,430.000000,436.000000,120.000000,128.000000,144.000000,3.000000,3.000000,3.000000,177.000000,177.000000,179.000000,252.000000,252.000000,252.000000
max,35190.000000,40335.000000,45320.000000,4010.000000,3299.000000,4449.000000,61.000000,54.000000,60.000000,1555.000000,1555.000000,1555.000000,5920.000000,4365.000000,4076.000000